.categorysec{
  transition: all 0.3s ease-in-out;
}
.categorysec:hover{
  animation: bounceFlash 0.6s ease;
  border: solid;
}
@keyframes bounceFlash {
  0% { transform: scale(1); }
  30% { transform: scale(1.08); }
  60% { transform: scale(0.98); }
  100% { transform: scale(1); }
}

.enlarge{
  transition: all 0.3s ease-in-out !important;
}
.enlarge:hover{
  transform: scale(1.1);
}

.highlight{
  transition: all 0.1s ease-in-out;
}
.highlight:hover{
  opacity: 1 !important;
}

.video-card-img{
  transition: transform 0.3s ease;
}

.video-card-img:hover{
  transform: scale(1.6);
  filter: brightness(0.7);
  
}

@media (max-width: 750px){
  .footer{
    text-align: center;
  }
  .contact-photo{
    width: 100% !important;
  }
  .contact-input{
    width: 100% !important;
  }
  .contact-brands{
    width: 100% !important;
  }
  .stream-videocard{
    height: 170px;
    width: 280px;
  }
}

.brandLogos{
  transition: all 0.4s ease-in-out;
}
.brandLogos:hover{
  color: rgb(70, 89, 160) !important;
    transform: rotateY(360deg)
}